{% extends "padre.html" %}


{% block contenido %}
<main class='inicio-container'>

    <header class='inicio-header'>   
        <h3>Un espacio para comer y disfrutar en familia!</h3>
        <p>Acercate a nuestro local y disfruta de nuestras nuestra gran seleccion de desayunos y meriendas</p>
    </header>

  

        <div>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam blanditiis accusamus soluta omnis laborum odio deserunt, molestias quam neque amet. 
        </div>

  

</main>


{% endblock contenido %}
    


